<h2>
  Welcome, <%= current_admin.username %>
  <small><%= link_to "log out", logout_path, method: "delete" %></small>
</h2>

<%= will_paginate @item_users, class: "text-center" %>

<table class="table">
  <tr>
    <th>User</th>
    <th>Item Purchased</th>
    <th>Item Category</th>
  </tr>

  <% @item_users.each do |item_user| %>
    <tr>
      <td><%= link_to item_user.user.name, user_path(item_user.user) %></td>
      <td><%= item_user.item.name %></td>
      <td><%= item_user.item.categories.map { |category| category.name }.join(", ") %></td>
    </tr>
  <% end %>
</table>
